/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del body */
body {
   background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    --sb-track-color: #232e33;
    --sb-thumb-color: #25c500;
    --sb-size: 14px;
}
.image{
    max-width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
    max-height: 100px; /* Limita la altura máxima de las imágenes */
    object-fit: cover; /* Cubre el área del contenedor sin deformarse */
    border-radius: 100px;
    
}

.carousel-item img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
    max-height: 400px; /* Limita la altura máxima de las imágenes */
    object-fit: cover; /* Cubre el área del contenedor sin deformarse */
}  
body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* Navbar */
.navbar {
    background-color: #1e8a4f; /* Azul oscuro */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #19191a; /* Gris claro */
}

.navbar .nav-link.active {
    color: #60a5fa; /* Azul claro para el enlace activo */
}
.nombre {
    background-color: #818481c6;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    margin: 3000;
    padding: 1500;
    font-style:sans-serif;
}
.correo {
    background-color: #2def3dc6;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    margin: 3000;
    padding: 1500;
    font-style:sans-serif;
}
.input-group{
    background-color: #cdd2cdc6;
    padding: 0.5rem 1rem;
    margin: 3000;
    padding: 1500;
    font-style:sans-serif;
    border: 4px solid  rgb(43, 140, 43) ;
}

/* Secciones */
.section {
    padding: 50px 20px;
    text-align: center;
    display: none; /* Oculta todas las secciones inicialmente */
 

    



}

.section {
    padding: 60px 20px;
    display: none; /* Ocultar secciones por defecto */
}
.active {
    display: block; /* Mostrar sección activa */
}
p{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    
}

.section.active {
    display: block; /* Solo muestra la sección activa */
    
}

/* Footer */
footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 10px 0;
}
