/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del body */
body {
    background-image: url(./image/pexels-pixabay-433308.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    --sb-track-color: #232e33;
    --sb-thumb-color: #25c500;
    --sb-size: 14px;
}

.carousel-item img {
    width: 1500px;  /* Puedes ajustar esto a un valor fijo si lo prefieres, como 600px */
    height: 500px; /* Puedes ajustar esto a un valor fijo si lo prefieres, como 400px */
    max-width: 100%; /* Asegúrate de que las imágenes no se desborden */
    max-height: 400px; /* Establece una altura máxima para las imágenes */
    object-fit: cover; 
}    
body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* Navbar */
.navbar {
    background-color: #1e3a8a; /* Azul oscuro */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #19191a; /* Gris claro */
}

.navbar .nav-link.active {
    color: #60a5fa; /* Azul claro para el enlace activo */
}

/* Secciones */
.section {
    padding: 50px 20px;
    text-align: left;
    display: none; /* Oculta todas las secciones inicialmente */
    
}

.section.active {
    display: block; /* Solo muestra la sección activa */
}

/* Footer */
footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 10px 0;
}
