<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRAFICOS</title>
</head>
<body>

    <h3>Gráfico de Barras</h3>
    <img src="{{ url_for('static', filename='fuentes_barras.png') }}" alt="Gráfico de barras">
    
    <h3>Gráfico de Torta</h3>
    <img src="{{ url_for('static', filename='fuentes_torta.png') }}" alt="Gráfico de torta">
    
    <h3>Gráfico de Líneas</h3>
    <img src="{{ url_for('static', filename='fuentes_lineas.png') }}" alt="Gráfico de líneas">
    
    <h3>Gráfico de Área</h3>
    <img src="{{ url_for('static', filename='grafico_area.png') }}" alt="Gráfico de área">
 
</body>
</html>
    